@{
    ViewBag.Title = "Account";
}
<h2>@ViewBag.Title</h2>

<div class="btn-group">
    <a href="~/Home/Address" class="btn btn-default">Edit Address</a>
    <a href="~/Home/Payment" class="btn btn-default">Edit Payment</a>
</div>