
@{
    ViewBag.Title = "Address";
}

<h2>Address</h2>

<h1>Edit Address</h1>
<div class="form-group">
    <label for="usr">Full Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Address 1:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Address2:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">City:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">State/Province/Region:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Zip:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Country:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Phone number:</label>
    <input type="text" class="form-control" id="usr">
</div>

<div class="btn-group">
    <a href="~/Home/Account" class="btn btn-default">Update Address</a>
</div>

<div class="btn-group">
    <a href="~/Home/Account" class="btn btn-default">Back to Account</a>
</div>