
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<div class="btn-group">
    <a  class="btn btn-default">Use registered Address</a>
    <a class="btn btn-default">Use registered card information</a>
</div>

<div class="btn-group">
    <a href="~/Home" class="btn btn-default">Purchase</a>
</div>

