@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1><p class="text-center">Welcome to Rocket.net!<p></h1>
	<p class="lead text-center">Honto Region's #1 source for Pokemon</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default">Login</a></p>
    </div>
</div>

<!--input class="form-control" placeholder="Name, code, text, race, flavor.." id="q" name="q" autofocus="" type="text">-->