@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "Advanced Search";

}

<div class="container">
    <img src="~/Content/Images/001.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/002.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/003.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/004.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/005.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/006.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/007.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/008.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
    <img src="~/Content/Images/009.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
</div>