
@{
    ViewBag.Title = "Purchase";
}

<h2>Purchase</h2>

<img src="~/Content/Images/001.png" class="img-rounded" alt="Cinque Terre" width="200" height="200">

<div class="form-group">
    <label for="sel1">Quantity:</label>
    <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
</div> 

<h1>@Html.ActionLink("Add to Cart", "List")</h1>